html{
    scroll-behavior: smooth;
}

body{
    color: white;
}

.jumbotron{
    background-image: url(image/arnold-francisca-f77Bh3inUpE-unsplash.jpg);
    height: 720px;
    background-size: cover;

}

.img1{
    margin-bottom: 5px;
}
.img2{
    margin-bottom: 20px;
    margin-top: 30px;
}

#banner{
    font-family: cursive;
    font-size: 80px;
    margin-top: -10px;
}

.bannerbtn{
    margin-top: -400px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}

.text1{
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.text2{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
}

.text3{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: black;
}

hr{
    margin-bottom: 80px;
}

.nodejsicon{
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card{
    margin: 15px;
    background-color: rgb(163, 190, 163);
    padding: 5px;
    transition: 0.3s;
}

.card:hover{
    background-color: rgb(83, 88, 83);
    opacity: 0.6;
}
.box1 {
    padding: 10px;
}
.box2{
    padding: 10px;
}
.box3{
    padding: 10px;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #banner{
        margin-top: 70px;
    }

    .text1{
        margin-top: 270px;
        font-size: 25px ;
    }
    
    .text2{
        font-size: 25px;
        margin-top: 280px !important;
    }

    .img1{
        margin-top: 70px;
    }

    .img2{
        background-size: 400px ;
    }

    .text3{
        margin-top: 0px;
        font-size: 40px;
    }

    .card{
        margin: -10px;
        margin-bottom: 15px;
        color: black;
    }

    .nodejsicon{
        height: 100px !important;
        margin-top: 100px;
        margin-left: 400px;
    }
    
    .img3{
        height: 620px;
        margin-right: 120px !important;
    }

    .colhome{
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .con1{
        background-color: rgb(205, 216, 205);
    }
    .text4{
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    .text5{
        margin-top: 30px;
    }
    .text6{
        margin-top: 45px;
    }
    .banner2{
        background-size: cover;
        text-align: center;
    }
    

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

 }